@import "src/Styles/mixins";

.copyRights {
  width: fit-content;
  margin: 0 auto;
  line-height: 24px;
}
.footer.crt {
  background-color: #021933;
}


@include small {
  .copyRights {
    font-size: .9rem;
  }
}

@media (max-width: 342px) {
  .copyRights {
    align-items: flex-start;
  }
}

.copyRights>span {
  color: #f9f9f9;
}

.copyRights>a {
  outline: none;
  text-decoration: underline;
  color: #f9f9f9;
  margin: 0 4px;

  &:hover,
  &:focus-visible {
    color: var(--white);
  }
}

.copyRights>*::selection {
  background-color: var(--white) !important;
}